@import "./assets/styles/config";

main {
  .divider {
    width: 4rem;
    border-bottom: dotted var(--txt-clr);
    border-bottom-width: 0.3rem;
    margin-inline: auto;
    margin-block: 4vh;
  }
}
