@import "./assets/styles/config";

main {
  .App {
    margin-inline: 15vw;
  }

  .divider{
    width: 4rem;
    border-bottom: dotted var(--txt-clr);
    border-bottom-width: .3rem;
    margin-inline: auto;
    margin-block: 4vh;
  }

  @include tablet {
    .App {
      margin-inline: 8.5vw;
    }
  }
  @include mobile {
    .App {
      margin-inline: 7.5vw;
    }
  }
}
