/* font-family: 
font-family: 'Figtree', sans-serif; */

@import "./assets/styles/config";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--txt-clr);
  background: var(--bg);
}

body {
  font-family: var(--ff-fig);
  overflow-x: hidden;
}
