@import "./config";

.contact {
  padding-block: 5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 2rem;

  h2 {
    margin-inline: auto;
    margin-bottom: 2vw;
    @extend .heading-style;

    &::after {
      content: "Reach out to me";
    }
  }

  .react-cont {
    position: absolute;
    max-width: 30vw;
    top: 25%;
    opacity: 0.15;
    z-index: -4;
  }

  .connect {
    max-width: 100%;
    display: flex;
    gap: 5vw;

    p {
      margin-bottom: 3rem;
      color: var(--heading-clr);
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    // HIRE CONTAINER STYLE

    .hire-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      .btn {
        @extend .btn-primary;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        align-self: flex-start;
      }
    }

    // EMAIL CONTAINER STYLE
    .email-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      .project-form {
        display: flex;
        flex-direction: column;

        .input-area {
          position: relative;
          height: 4rem;
          margin-bottom: 2rem;

          .input {
            padding: 1.5rem 2rem;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            font-size: 1.1rem;
            color: var(--heading-clr);
            background: transparent;
            outline: none;
            border: 1px solid var(--heading-clr);
            font-family: var(--ff-fig);
            z-index: 3;

            &:focus ~ .label,
            &:valid ~ .label {
              transform: translate(5px, -10px) scale(0.9);
              opacity: 1;
              background-color: var(--bg);
              z-index: 6;
              color: var(--accent);
            }

            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 50px var(--bg) inset;
              -webkit-text-fill-color: var(--heading-clr);
            }
          }

          .label {
            position: absolute;
            color: var(--heading-clr);
            font-size: 1.2rem;
            font-family: var(--ff-fig);
            padding: 0rem 0.45rem;
            margin: 0 20px;
            border-radius: 1rem;
            opacity: 0.5;
            transform: translateY(1.1rem);
            transition: all 0.3s;
            left: 0;
            z-index: -10;
          }

          &.textarea {
            height: 10rem;

            textarea {
              resize: none;
              overflow: auto;
            }
          }
        }

        .submit {
          @extend .btn-sec;
          border-radius: 4rem;
          align-self: center;
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.1rem;

          &:disabled {
            background: var(--bg);
            filter: opacity(30%);
            cursor: not-allowed;
            transform: scale(1);
          }
        }
      }
    }
  }

  @include tablet {
    padding-block: 5vh;

    .connect {
      flex-direction: column;

      .email-container {
        .project-form {
          width: 85%;
        }
      }
    }
  }

  @include mobile {
    padding-block: 4vh;
    text-align: center;

    h2 {
      margin-inline: unset;
      align-self: flex-start;
    }

    .react-cont {
      max-width: 60vw;
    }

    .connect {
      gap: 15vw;
      flex-direction: column;

      p {
        margin-left: unset;
      }

      .hire-container {
        .btn {
          align-self: center;
        }
      }

      .email-container {
        .project-form {
          width: 100%;
        }
      }
    }
  }
}
