@import "./config";

.footer {
  font-family: var(--ff-fig);
  padding-top: 7vh;
  margin-bottom: 5vh;
  width: 100%;
  max-width: 85vw;
  margin-inline: auto;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;

  h3 {
    font-size: 1rem;
  }

  .icons ul {
    position: fixed;
    left: 4vw;
    bottom: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &::after {
      content: "";
      position: absolute;
      width: 0.5rem;
      height: 8rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--accent);
      bottom: -115%;
    }

    li a {
      font-size: 1.5rem;
      display: inline-block;

      transition: all 0.5s;

      &:hover {
        color: var(--accent);
        transform: scale(1.3);
      }
    }
  }

  @include tablet {
    padding-top: 2vh;
    margin-top: 5vh;
    margin-bottom: 20vh;

    .icons ul {
      position: unset;
      flex-direction: row;
      gap: 1.5rem;

      &::after {
        display: none;
      }
    }
  }

  @include mobile {
    padding-top: 2vh;
    margin-bottom: 18vh;

    h3 {
      font-size: 0.9rem;
    }

    .icons ul {
      position: unset;
      flex-direction: row;
      gap: 1rem;

      &::after {
        display: none;
      }
    }
  }
}
