@import "./config";

.hero {
  padding-block: 5vh;
  padding-inline: 12vw;
  display: flex;
  flex-direction: column;
  gap: 30vh;
  height: 100vh;
  position: relative;
  isolation: isolate;

  overflow: hidden;

  .bg {
    // content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: url("../images/profile-pic.jpg");
    background-position-x: right;
    background-size: 45%;
    background-repeat: no-repeat;
    z-index: -5;
    opacity: 0.4;
    background-attachment: fixed;
  }

  .hero-items {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    // align-self: center;

    // HERO TEXT STYLE
    .hero-text {
      text-transform: uppercase;
      user-select: none;

      .name-span,
      .react-span {
        font-style: italic;
        text-transform: capitalize;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: var(--fw-400);

        .react-span {
          color: var(--heading-clr);
          font-size: 2rem;

          .code {
            color: var(--accent);
          }
        }
      }

      .name-span {
        transition: color 0.4s;
        cursor: pointer;
        position: relative;
        font-size: 5.5rem;
        white-space: nowrap;
        display: inline-flex;

        .spark-image {
          width: 12vw;
          position: absolute;
          top: -70%;
          right: -10%;
          transform: scale(0.8);
        }
        &:hover {
          color: var(--accent);

          .spark-image {
            animation: shake 0.25s infinite;
            transform: scale(1.2);
          }

          @keyframes shake {
            0% {
              transform: rotate(0deg);
            }
            50% {
              transform: rotate(8deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }

  @include tablet {
    height: 60vh;
    gap: 20vh;
    padding-inline: 8.5vw;

    .bg {
      background-size: 65%;
    }

    .hero-items {
      .hero-text {
        h2 {
          font-size: min(2rem, 3vw);

          .react-span {
            font-size: 1.5rem;
            white-space: nowrap;
          }
        }

        .name-span {
          font-size: max(3rem, 7vw);
        }
      }
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    height: 100vh;
    gap: 30vh;
    padding-inline: 6vw;

    .bg {
      background-position-x: 15%;
      background-size: cover;
      clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 90%, 0 75%);
    }

    .hero-items {
      .hero-text {
        text-align: center;
        line-height: 1.3;
        h2 {
          font-size: min(1.8rem, 6vw);

          .react-span {
            font-size: 2rem;
            white-space: nowrap;
          }
        }

        .name-span {
          font-size: max(2.6rem, 9vw);

          .spark-image {
            top: -12%;
            right: -5%;
          }
        }
      }
    }
  }

  // @include wide_screen {
  //     h1 {
  //         font-size: min(4.5rem, 9vw);
  //         line-height: 1.5;

  //         .name-span{
  //             font-size: min(10rem, 16vw);
  //         }
  //     }

  // }
}
