@import "./config";

.hero {
  padding-block: 5vh;
  padding-inline: 12vw;
  display: flex;
  flex-direction: column;
  gap: 30vh;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .bg {
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(0deg, var(--gradient), var(--gradient)),
      url("../images/profile-pic.jpg");
    background-position-x: right;
    background-size: 45%;
    background-repeat: no-repeat;
    z-index: -5;
    background-attachment: fixed;
  }

  .bubble {
    position: absolute;
    background: lighten($color: #676767, $amount: 0.8);
    z-index: -5;
    animation: animate 20s linear infinite;
    bottom: -20%;

    &:nth-child(1) {
      left: 86vw;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      left: 12vw;
      width: 30px;
      height: 30px;
      animation-delay: 1.5s;
      animation-duration: 10s;
    }

    &:nth-child(3) {
      left: 70vw;
      width: 100px;
      height: 100px;
      animation-delay: 5.5s;
    }

    &:nth-child(4) {
      left: 48vw;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 15s;
    }
    &:nth-child(5) {
      left: 65vw;
      width: 40px;
      height: 40px;
      animation-delay: 0s;
    }
    &:nth-child(6) {
      left: 15vw;
      width: 110px;
      height: 110px;
      animation-delay: 3.5s;
    }
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg) scale(0);
      opacity: 0.8;
    }

    100% {
      transform: translateY(-110vh) rotate(360deg) scale(1.4);
      opacity: 0;
    }
  }

  .hero-items {
    height: fit-content;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;

    // HERO TEXT STYLE
    .hero-text {
      user-select: none;

      .name-span {
        color: var(--accent);
        transition: color 0.4s;
        font-size: 4rem;
        margin-block: 2vh;
        white-space: nowrap;
        text-transform: uppercase;
        display: block;
        font-weight: var(--fw-700);
      }

      h2 {
        font-size: 2rem;
        font-weight: var(--fw-400);
        font-family: var(--ff-cor);

        .react {
          white-space: nowrap;
          height: 100px;
          color: var(--heading-clr);
        }
      }

      span[aria-label="react"] {
        color: var(--accent);
        display: inline-block;
        transform: scale(1.5);
      }
    }
  }

  @include tablet {
    height: 80vh;
    gap: 20vh;
    padding-inline: 8.5vw;

    .bg {
      width: 55%;
      background-size: 85%;
      background-position-x: 250%;
    }

    .hero-items {
      .hero-text {
        h2 {
          font-size: min(2rem, 3vw);
        }

        .name-span {
          font-size: max(2rem, 6vw);
        }
      }
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    height: 100vh;
    gap: 30vh;
    padding-inline: 6vw;

    .bg {
      width: 100%;
      background-position-x: 15%;
      background-size: cover;
      clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 90%, 0 75%);
    }

    .hero-items {
      .hero-text {
        text-align: center;
        line-height: 1.3;
        h2 {
          font-size: min(2rem, 7vw);
        }

        .name-span {
          font-size: max(1.5rem, 7vw);
        }
      }
    }
  }

  // @include wide_screen {
  //     h1 {
  //         font-size: min(4.5rem, 9vw);
  //         line-height: 1.5;

  //         .name-span{
  //             font-size: min(10rem, 16vw);
  //         }
  //     }

  // }
}
