@import "./config";

.projects {
  padding-block: 12vh;
  text-align: center;

  &__heading {
    color: var(--heading-clr);
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .carousel {
    cursor: grab;
    overflow: hidden;
    padding: 2rem;

    .projects_content {
      display: flex;
      gap: 1.5rem;

      .project {
        min-width: 18rem;
        height: 25rem;
        border-radius: 0.6rem;
        overflow: hidden;
        text-align: left;
        background-color: var(--heading-clr);

        &__image {
          width: 100%;
          height: 80%;
          background-color: #8d4a31;
        }

        &__title {
          color: var(--bg);
          margin-top: 0.8rem;
          padding-left: 0.8rem;
        }
      }
    }
  }
}
