@import "./config";

.projects {
  padding-block: 5vh;
  text-align: center;
  position: relative;

  &__heading {
    width: fit-content;
    margin-bottom: 5rem;
    margin-inline: auto;

    @extend .heading-style;
    &::after {
      content: "explore my works";
    }
  }

  .carousel {
    cursor: grab;

    .projects_content {
      padding: 3rem 2rem;

      .project {
        max-width: 30rem;
        height: 35rem;
        border-radius: 0.6rem;
        overflow: hidden;
        text-align: left;
        background-color: var(--heading-clr);
        transition: all 0.5s;

        &__image {
          width: 100%;
          height: 60%;
          overflow: hidden;
          background-color: var(--accent);
        }

        &__title {
          color: var(--bg);
          margin-top: 0.8rem;
          padding-left: 0.8rem;
          font-size: 1.2rem;
        }

        &:hover {
          transform: scale(1.02);
        }
      }

      .slider-controls {
        cursor: pointer;
        user-select: none;
        margin-top: 2rem;
        width: 100%;
        margin-inline: auto;

        &__next,
        &__prev {
          position: absolute;
          top: 35%;
          z-index: 10;
          font-size: 3rem;
          color: var(--heading-clr);
          transition: all 0.3s;

          &:hover {
            transform: scale(1.2);
          }
        }

        &__next {
          right: -1%;
        }

        &__prev {
          left: -1%;
        }

        .slider-pagination {
          --swiper-pagination-color: var(--accent);
          --swiper-pagination-bullet-size: 0.8rem;
          --swiper-pagination-bullet-inactive-color: var(--txt-clr);
          --swiper-pagination-bullet-size: 0.6rem;
          --swiper-pagination-bullet-horizontal-gap: 0.4rem;
        }
      }
    }
  }

  @include mobile {
    padding-block: 4vh;

    &__heading {
      margin-bottom: 3.5rem;
      margin-inline: unset;
    }

    .carousel {
      .projects_content {
        padding: 1rem;

        .project {
          height: 28rem;
        }

        .slider-controls {
          &__next,
          &__prev {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
