@import "./config";

.skill-container {
  padding-block: 5vh;
  color: var(--heading-clr);
  position: relative;

  h2 {
    margin-inline: auto;
    margin-bottom: 5rem;
    @extend .heading-style;
    &::after {
      content: "acquired tech skills";
    }
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;

    justify-items: center;
    .skill {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;

      &-title {
        font-size: 1.2rem;
      }
      &-dash {
        flex: 2;
        background-color: var(--accent);
        height: 0.08rem;
      }
      &-arrow {
        max-width: 2.2rem;
      }
    }
  }

  @include tablet {
    padding-block: 8vh;

    .skills {
      grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    }
  }

  @include mobile {
    padding-block: 5vh;

    .skills {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }

    h2 {
      margin-inline: unset;
    }
  }
}
