@import "./config";

.skill-container {
  padding-block: 5vh;
  max-width: 80vw;
  margin-inline: auto;
  color: var(--heading-clr);
  position: relative;

  h2 {
    margin-inline: auto;
    margin-bottom: 5rem;
    @extend .heading-style;
    &::after {
      content: "acquired tech skills";
    }
  }

  .skills {
    .skill {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;

      &-title {
        font-size: 1.2rem;
      }
      &-dash {
        flex: 2;
        background-color: var(--accent);
        height: 0.08rem;
      }
      &-arrow {
        max-width: 2.2rem;
      }
    }
  }

  @include mobile {
    padding-block: 5vh;

    h2 {
      margin-inline: unset;
    }

    .skill {
      &-arrow {
        width: 1.4rem;
      }
    }
  }

  @include tablet {
    padding-block: 8vh;
  }
}
